

<h2>All Bands</h2>

<%  @bands.each do |band| %>
    <a href="<%= band_url(band) %>" class="info"><%= band.name %></a>
<% end %>


<h3>Options</h3>
<div class="bucket">
<form action="<%= new_band_url %>" method="GET">
    <%= auth_token %>
    <input type="submit" value="New Band"  class="button">
</form>
</div>
